body{
background-color:hsl(185, 75%, 39%) ;
}
.card{
background-color: white;
height: 50vh;
width: 25vw;
position: relative;
left: 65vh; 
border-radius: 25px;
}
#victor{
  position: relative;
  left: 9vw;
  height: 14vh;
  bottom: 47pt;
border-radius: 100%;
border: solid ; 
}
#capa{
  width: 25vw;  
  border-radius: 25px 25px 0 0;
}
.texto{
    position: relative;
    bottom: 10vh;
    left: 15


}
hr{
    position: relative;
    right: 7vw;
}