body{
background-color:hsl(185, 75%, 39%) ;
font-family: 'Kumbh Sans', sans-serif;
overflow: hidden;

}
.card{
background-color: white;
height: 50vh;
width: 25vw;
position: absolute;
left: 65vh; 
border-radius: 25px;
bottom: 30vh;
}
#victor{
  position: relative;
  left: 9vw;
  height: 14vh;
  bottom: 47pt;
border-radius: 100%;
border-color: white;
}
#capa{
  width: 25vw;  
  border-radius: 25px 25px 0 0;
}
.texto{
    position: relative;
    bottom: 10vh;
    left: 15


}
hr{
    position: relative;

}
td,th{
  padding-left:  3vw;
}

span{
  font-weight: 400;
  color: gray;
}
p,td{
  color: gray;
}
table{
  position: relative ; 
  left: 2vw;
}
#circulo1{
position: relative;


}

#circulo2{
  position: relative;
left:50vw;
bottom: 50vh;

}




